<div class="jumbotron">
<h1>Welcome to Jon's App </h1>
<p>Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
<blockquote>
	This is the hompage of my first Ruby on Rails App!
</blockquote>
</div>
